{
	"authProxyPass": "",

	"liveNotifiarrUser": 0,

	"botToken": "",
	"devUserApikey": "",
	"devDiscordUsers": [],

	"notifiarrApiURL": "",
	"betterUptimeURL": "",
	"cronitorURL": "",

	"webhooks": false,
	"testing": true,
	"debug": true,
	"upPing": false,
	"scPing": false,
	"uptimeDelay": 4,
	"countDelay": 10
}